*{
    /* reset do css */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

header{
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 3.7rem;
}

main{
    padding-inline: 1.5rem;
}

:root{
    --cinza-800: #1e2938;
    --cinza-600: #475569;
    --cinza-400: #94a3b8;
    --cinza-200: #e2e8f0;
    --roxo: #7c3aed;
    --branco: #fff;
}
.descricao{
    margin-bottom: 2.5rem;
}
.descricao h1{
    color: var(--cinza-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p{
    font-size: 0.8125rem ;
    color: var(--cinza-600);
   
}
.input-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.input-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login label {
    font-size:0.875rem ;
    color:var(--cinza-800) ;
    font-weight: 600;
}
.login input{
    padding: 1rem 0.75rem;
    border: 1px solid var(--cinza-200);
    border-radius: 0.25rem;
    color: var(--cinza-800);
}
.login input::placeholder{
    color: var(--cinza-400);
}

.login input:hover,
.login input:focus{
   outline: 1px solid var(--roxo);
}

.login a{
    color: var(--roxo);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}

.login a:hover{
    text-decoration: underline;
}
.login button{
    margin-top: 1rem;
    padding-block: 1rem;
    width: 100%;
    background-color: var(--roxo);
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--branco);
}